{% extends "base.html" %}
{% block title %}O nama{% endblock %}

{% block content %}

<div class="container my-5">
    <div class="card shadow-sm border-0">
        <div class="card-body p-4">
            <h2 class="fw-bold mb-3 text-center">O projektu Book Sharing</h2>
            
            <p class="mt-3">
                Book Sharing je jednostavna web aplikacija stvorena sa ciljem olakšavanja razmjene knjiga
                među korisnicima.
            </p>

            <p>
                Projekt potiče kulturu čitanja, dijeljenja znanja i povezivanja ljudi koji vole knjige.
                Jednostavnim sučeljem omogućujemo korisnicima da pronađu knjige, ponude svoje te 
                komuniciraju kroz sustav razmjene.
            </p>

            <p>
                Želja nam je stvoriti zajednicu u kojoj je svaka knjiga lako dostupna.
            </p>
        </div>
    </div>
</div>

{% endblock %}

