{% extends "base.html" %}

{% block title %}Početna - Book Sharing{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="mb-4">Dobrodošli na Book Sharing!</h1>
        <p class="lead">Jednostavna platforma za razmjenu i dijeljenje knjiga među korisnicima.</p>

        <hr class="my-4">

        <div class="row mt-4">

            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Pretraži knjige</h5>
                        <p class="card-text">Pogledaj sve knjige koje korisnici nude za razmjenu.</p>
                        <a href="#" class="btn btn-primary">Pogledaj knjige</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Dodaj novu knjigu</h5>
                        <p class="card-text">Unesi knjigu koju želiš podijeliti s drugima.</p>
                        <a href="#" class="btn btn-success">Dodaj knjigu</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">O nama</h5>
                        <p class="card-text">Saznaj više o ovoj aplikaciji.</p>
                        <a href="#" class="btn btn-secondary">O nama</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}


